<?- include('./parts/top', { title : 'Home' }) ?>
<body>
    <?- include('./parts/navigation.ejs', { name : locals.name }) ?>
    <div class='mx-auto' style='width : 70%'>
    <?- include('./parts/main_ch_submission.ejs', { name : locals.name }) ?>
    </div>
</body>
</html>