<?- include('./parts/top', { title : 'Home' }) ?>
<body class='container-fluid mx-auto' style='width: 95%'>
        <?- include('./parts/navigation.ejs', { name : locals.name }) ?>
        <div class='row'>
                <?- include('./parts/main_ch_video.ejs') ?>
                <?- include('./parts/main_ch_chat_output.ejs') ?>
        <?- include('./parts/main_ch_chat_input.ejs', { name : locals.name }) ?>
        </div>
        <?- include('./parts/main_ch_submission.ejs', { name : locals.name }) ?>
</body>
</html>