.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* for login */
.login-form {
  max-width: 500px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.collection-create-form_last-form-item {
    margin-bottom: 0;
  }

/* finish for login */

/* for signup */
/* finish for signup */

/* for home */
.showBorder {
  border:5px solid red;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}
/* finish for home */


