<div
    id='video_container'
    class='
        embed-responsive
        embed-responsive-16by9
        card card-body rounded-0 border-0
        col-9'>
    <div id='player' class='embed-responsive-item'></div>
</div>

<script>
{
    /** <Add youtube iframe API script> **/
    let tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    let firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    /** </> **/

    let player;
    function onYouTubeIframeAPIReady()
    {
        player = new YT.Player
        (
            'player',
            {
                height: window.innerWidth * 0.68 * (9/16),
                width: window.innerWidth * 0.68,
                videoId: '',
                playerVars:
                {
                    autoplay : 1,
                    controls : 0,
                    disablekb : 1,
                    enablejsapi : 1,
                    rel : 0,
                    showinfo : 0,
                    origin : 'http://localhost:9001',
                    suggestedQuality : 'small'

                },
                events:
                {
                    onReady : onPlayerReady,
                    onStateChange : onPlayerStateChange
                }
            }
        );
    }

    let sse;
    let sse_recieved_any_data = false;
    let first_video = true;
    let ran_once = false;
    function onPlayerReady(event)
    {
        if(!ran_once)
        {
            player.stopVideo(); // do not play the hardcoded default video
            sse = new EventSource('/api/0.0.0/main_channel/connect');
            sse.onerror = (e) => console.error('Error -->', e);
            sse.onmessage = handle_sse_connection; // SSE event handler set
            ran_once = true;
            setTimeout(() =>
            {
                if(!sse_recieved_any_data)
                {
                    player.loadVideoById({ 'videoId' : 'XOacA3RYrXk' })
                }
            }, 3000);
        }
    }

    // check if a number is in within plus or minus range of the target number
    function is_in_range(num, target, plus_or_minus)
    {
        return num >= target - plus_or_minus && num <= target + plus_or_minus ;
    }

    function handle_sse_connection(e)
    {
        let data = JSON.parse(e.data);
        sse_recieved_any_data = true;

        if
        (
            (
                first_video                                        ||
                player.getPlayerState() === YT.PlayerState.PLAYING ||
                player.getPlayerState() === YT.PlayerState.ENDED
            )                &&
            data.play_at > 0 &&
            data.video_id    &&
            player.getVideoData().video_id !== data.video_id
        )
        {
            first_video = false;
            player.loadVideoById
            (
                {
                    videoId : data.video_id,
                    startSeconds : data.play_at,
                    setPlaybackQuality : 'small'
                }
            );

            player.playVideo();
        }

        if
        (
            data.play_at > 0 &&
            (
                player.getPlayerState() === YT.PlayerState.PLAYING ||
                (
                    player.getVideoData().video_id === data.video_id &&
                    player.getPlayerState() === YT.PlayerState.ENDED
                )
            )
        )
        {
            // If the current video time user is seeing is not same as 1 seconds
            // of the recieved time user should be seeing, change to recieved time
            // runs only if the video is playing, not stopped or buffering etc

            // - Increase allowed error seconds to prevent skipping/lagging
            // - Decrease allowed error (upto 0) seconds to make syncing more
            // precise but it may increase skipping/lagging
            if(!is_in_range(player.getCurrentTime(), data.play_at, 1.3))
                player.seekTo(data.play_at);
        }
    }

    let should_be_title;
    function onPlayerStateChange(e)
    {
        if(e.data === YT.PlayerState.PLAYING)
        {
            should_be_title = 'NOW PLAYING: ' + player.getVideoData().title;
            if(document.title !== should_be_title) document.title = should_be_title;
        }
        else if(e.data === YT.PlayerState.PAUSED)
        {
            document.title = 'PAUSED';
        }
        else if(e.data === YT.PlayerState.BUFFERING)
        {
            document.title =
            'YOUTUBE BUFFERING / SERVER SYNCING';
        }
        else
        {
            document.title = 'Waitting...';
        }
    }
}
</script>