<? if(locals.name) { ?>
<div class='card card-body rounded-0 border-top-0 padding-0'>
    <div class='input-group'>
        <textarea
            id='comment'
            type='text'
            class='form-control'
            placeholder='Your thougths on the video...'></textarea>
        <div class='input-group-append'>
            <button
                id='send'
                type='button'
                class='btn btn-outl]ine-secondary'>Send</button>
        </div>
    </div>

    <div id='comment_info'></div>
</div>


<script>
{
    let send = document.getElementById('send');
    let comment = document.getElementById('comment');
    let comment_info = document.getElementById('comment_info');

    send.addEventListener('click', (e) =>
    {
        e.preventDefault();
        if(comment.value.trim().length)
        {
            fetch
            (
                '/api/0.0.0/main_channel/chat',
                {
                    method : 'POST',
                    headers :
                    {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body : JSON.stringify({ comment : comment.value.trim() })
                }
            )
            .then((res) => res.json())
            .then((res) =>
            {
                if(res.success) comment.innerHTML = '';
                else throw { };
            })
            .catch((err) =>
            {
                comment_info.innerHTML = 'Error commenting, retry or contact admin';
            });
        }
    })
}
</script>
<? } else { ?>
    <p class='card card-body text-center rounded-0'>
            You must be signed in to chat
        </p>
<? } ?>
</div>